  <%= form_with(model: task, local: true, class: "form-signin") do |form| %>
  <h2 class="text-white">Create Task</h2>
  
  <div class="field">
    <%= form.text_field :task_name, 
    class: "form-control", placeholder: "Enter Task" %>
  </div>
  <br>
  <div class="field">
    <%= form.text_field :task_hours, 
    class: "form-control", placeholder: "Hours Worked" %>
  </div>
  <br>

  <div class="field">
    <%= form.label :project, class: 'text-white' %>
    <%# <h2 class="text-white">Select Project</h2> %>
    <% Project.all.each do |project| %>
      <div class="container">
        <div class="d-flex flex-row">
          <div class="d-flex justify-content-around mt-1">
            <%= check_box_tag "task[project_ids][]", project.id, @task.project_ids.include?(project.id) %>
          </div>
          <div class='ml-2 text-white'> <%= project.project_name%></div>
        </div>
      </div>
    <% end %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit class: "btn mt-2 btn-lg btn-primary btn-block" %>
  </div>
<% end %>
