<h3>
<% provide(:title, @task.task_name) %>
<% provide(:navbar_page_title, "edit project") %>
</h3>


<div class="text-center">

<h3 class="text-white">Task: <%= @task.task_name %> </h3>
  <h4 class="text-white"><%= @task.task_status %> </h4>


<br>
<%= button_to 'Edit', edit_task_path(@task), method: :get, class: 'btn btn-primary btn-lg btn-block mb-2' %>
<%= button_to 'Delete', @task, method: :delete, class: 'btn btn-primary btn-lg btn-block mb-2', data: { confirm: 'are you sure?' } %>

<%= button_to 'Back', request.referrer, method: :get, class: 'btn btn-primary btn-lg btn-block mb-2' %>
</div>