<%= form_with(model: project, local: true, class: "form-group") do |form| %>
  <div class="field">
    <%= form.label :project_name, class: "" %>
    <%= form.text_field :project_name, class: "form-control", 
    placeholder: "project name" %>
  </div>

  <div class="field">
      <%= form.label :image, class: "" %>
      <%= form.select(:image, options_for_select([ ["&#xf2bc;".html_safe, "address-card-o"],
                                                  ["&#xf0f9;".html_safe, "ambulance"],
                                                  ["&#xf17b;".html_safe, "android"],
                                                  ["&#xf179;".html_safe, "apple"],
                                                  ["&#xf1fe;".html_safe, "area-chart"],
                                                  ["&#xf1b9;".html_safe, "automobile"],
                                                  ["&#xf24e;".html_safe, "balance-scale"],
                                                  ["&#xf2cd;".html_safe, "bathtub"],
                                                  ["&#xf1fd;".html_safe, "birthday-cake"]])) %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
