<% provide(:title, @project.project_name) %>
<% provide(:navbar_page_title, "Project tasks") %>

<section class="group_info">
  <h2 class="text-white">
	<%= @project.project_icon %>
    <%= @project.project_name %>
  </h2>
</section>

<section class="group-table">
  <%= render partial: "all_projects", locals: { tasks: @project.tasks, allow_change: true} %>
</section>

<br>

  <%= button_to 'Edit project', edit_project_path(@project), method: :get, 
  class: 'btn mt-2 btn-lg btn-primary btn-block' %>
  
  <%= button_to 'Delete project', @project, method: :delete, data: { confirm: 'Are you sure?' },
   class: 'btn mt-2 btn-lg btn-danger btn-block' %>
  
  <%= button_to 'New project', new_project_path, method: :get, 
  class: 'btn mt-2 btn-lg btn-success btn-block' %>
	  
  <%= button_to 'New task', new_task_path, method: :get, 
  class: 'btn mt-2 btn-lg btn-primary btn-block' %>
	  
  <%= button_to 'Back', projects_path, method: :get, 
  class: 'btn mt-2 btn-outline-light btn-block' %>
  <br>
