<!DOCTYPE html>
<html>
  <head>
    <title>ProjectHours</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <link href="//db.onlinewebfonts.com/c/0376a58122a881d16a294512d3c947b1?family=ProximaNova-Regular" rel="stylesheet" type="text/css"/>

  <script src="https://use.fontawesome.com/d11afd1868.js"></script>
    
  <link href="//db.onlinewebfonts.com/c/f697c472b2ad5a1ca383a63c349f3dd9?family=ProximaNova-Bold" rel="stylesheet" type="text/css"/>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <%= stylesheet_link_tag "style.css" %>

  </head>

<div class="card  justify-content-center gradient-background">
  <body>
    <%= render 'layouts/header' %>
    <div class='container'>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </body>
</div>
</html>
